.ct-button{
    background: $yellow;
    color: $black;
    width: 100%;
    border: none;
    display: block;
    padding: 15px 35px;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;

    &:focus{
        color: $black;
        background: $yellow;
        outline: 3px solid $black;
    }
    &:hover{
        background: darken($yellow, 10);
    }
    &:active{
        background: darken($yellow, 12);
    }

    & + .ct-button{
        margin-top: 15px;
        @media screen and (min-width: 900px){
            margin-top: 0px;
        }
    }

    &:disabled{
        cursor: inherit;
        color: $grey;
        background: lighten($yellow, 10);
    }

    &--new{
        @media screen and (min-width: 900px){
            width: inherit;
        }
        &:before{
            display: inline-block;
            content: "";
            margin-right: 15px;
            width: 13px;
            height: 13px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='4.48145' width='11' height='2.03704' fill='%232E3646'/%3E%3Crect x='6.51855' width='11' height='2.03704' transform='rotate(90 6.51855 0)' fill='%232E3646'/%3E%3C/svg%3E%0A");
        }
    }

    &--secondary{
        background: $black;
        color: $white;    
        &:hover{
            background: darken($black, 10);
        }
        &:active{
            background: darken($black, 12);
        }
    }
}