.ct-data-chunk{
    border-top: 3px solid $black;
    padding-top: 25px;
    margin-bottom: 55px;

    @media screen and (min-width: 900px){
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 35px;
    }

    &__header{
        margin-bottom: 25px;
    }

    &__header-actions{
        @media screen and (min-width: 900px){
            display: flex;
            flex-direction: row;
            *{
                margin-right: 10px;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }

    &__title{
        margin-top: 0;
    }

    &__count{
        font-weight: normal;
    }

    &__quick-link{
        &:before{
            content: "";
            display: inline-block;
            width: 15px;
            height: 12px;
            margin-right: 5px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.25 6C0.25 5.58579 0.585786 5.25 1 5.25L14.3333 5.25C14.7475 5.25 15.0833 5.58579 15.0833 6C15.0833 6.41421 14.7475 6.75 14.3333 6.75L1 6.75C0.585786 6.75 0.25 6.41421 0.25 6Z' fill='%232E3646'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.80292 0.46967C9.09582 0.176777 9.57069 0.176777 9.86358 0.46967L14.8636 5.46967C15.1565 5.76256 15.1565 6.23744 14.8636 6.53033C14.5707 6.82322 14.0958 6.82322 13.8029 6.53033L8.80292 1.53033C8.51003 1.23744 8.51003 0.762563 8.80292 0.46967Z' fill='%232E3646'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.80292 11.5303C8.51003 11.2374 8.51003 10.7626 8.80292 10.4697L13.8029 5.46967C14.0958 5.17678 14.5707 5.17678 14.8636 5.46967C15.1565 5.76256 15.1565 6.23744 14.8636 6.53033L9.86358 11.5303C9.57069 11.8232 9.09582 11.8232 8.80292 11.5303Z' fill='%232E3646'/%3E%3C/svg%3E%0A");
        }
        &:focus:before{
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.25 6C0.25 5.58579 0.585786 5.25 1 5.25L14.3333 5.25C14.7475 5.25 15.0833 5.58579 15.0833 6C15.0833 6.41421 14.7475 6.75 14.3333 6.75L1 6.75C0.585786 6.75 0.25 6.41421 0.25 6Z' fill='%23F8F8F7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.80292 0.46967C9.09582 0.176777 9.57069 0.176777 9.86358 0.46967L14.8636 5.46967C15.1565 5.76256 15.1565 6.23744 14.8636 6.53033C14.5707 6.82322 14.0958 6.82322 13.8029 6.53033L8.80292 1.53033C8.51003 1.23744 8.51003 0.762563 8.80292 0.46967Z' fill='%23F8F8F7'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.80292 11.5303C8.51003 11.2374 8.51003 10.7626 8.80292 10.4697L13.8029 5.46967C14.0958 5.17678 14.5707 5.17678 14.8636 5.46967C15.1565 5.76256 15.1565 6.23744 14.8636 6.53033L9.86358 11.5303C9.57069 11.8232 9.09582 11.8232 8.80292 11.5303Z' fill='%23F8F8F7'/%3E%3C/svg%3E%0A");
        }
    }
}