.ct-data-panel{

    &__header{
        margin-bottom: 55px;
        @media screen and (min-width: 900px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            *{
                margin-bottom: 0px;
            }
        }
    }

    &__footer{
        margin: 55px 0px;
        font-size: 0.9rem;
    }
}