.ct-field{
    margin-bottom: 25px;

    label{
        display: block;
        color: $black;
        margin-bottom: 5px;
    }

    input,
    select{
        width: 100%;
        color: $black;
        background: none;
        border: none;
        border-bottom: 1px solid $black;
        font-size: 1.2rem;
        padding: 10px 0px;
        &:focus{
            outline: none;
            box-shadow: 0px 2px 0px $black;
        }

        &::placeholder{
            color: transparentize($black, 0.5)
        }
    }

    select{
        cursor: pointer;
        appearance: none;
        background-image: url("../assets/select-arrow.svg");
        background-position: center right;
        background-repeat: no-repeat;
    }

    &__error{
        color: $red;
        font-size: 0.9rem;
    }
}

.ct-error{
    color: $red;
    margin-top: 0;
    margin-bottom: 25px;
    &::first-letter{
        text-transform: capitalize;
    }
}