.ct-layout{
    &__sidebar{
        padding: 25px;
        background-color: $yellow;
    }

    &__main-content{
        padding: 25px;
    }

    @media screen and (min-width: 900px){
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100vh;
        overflow: hidden;

        &__sidebar{
            padding: 35px;
            min-width: 270px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        &__main-content{
            overflow-y: scroll;
            width: 100%;
            padding: 25px 5vw;    
            @media screen and (min-width: 1200px){
                padding: 25px 10vw;  
            }
        }
    }
}


.ct-menu{
    margin: 0;
    list-style: none;
    padding-left: 0;
    margin-bottom: 35px;

    &__nav-link{
        color: $black;
        cursor: pointer;
        display: inline-block;
        background: none;
        border: none;
        font-size: 1.1rem;
        text-decoration: none;
        margin-bottom: 10px;
        padding: 0;
        position: relative;
        @media screen and (min-width: 900px){
            font-size: 1.4rem;
            margin-bottom: 20px;
        }

        &:focus{
            color: $black;
            outline: none;
            background: none;
            &:before{
                position: absolute;
                top: 0;
                left: -27px;
                height: 15px;
                content: "";
                display: block;
                width: 10px;
                background: $black;
                @media screen and (min-width: 900px){
                    left: -35px;
                    height: 20px;
                }
            }
        }

        &:hover{
            text-decoration: underline;
        }

        &--active{
            font-weight: bold;
        }
    }
}


.ct-user-card{
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon{    
        display: none;    
        @media screen and (min-width: 900px){
            display: block;
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin-right: 15px;
            background-size: cover;
            background-image: url("../assets/user.svg");
        }
    }

    &__username{
        display: inline-block;
        color: $black;
        margin-top: 0;
        font-size: 1.1rem;
        margin-bottom: 10px;
        text-decoration: none;
        &:focus{
            color: $white;
            background: $black;
            outline: 3px solid $black;
        }
        @media screen and (min-width: 900px){
            font-size: 1.2rem;
        }
    }

    &__action{
        background: none;
        border: none;
        font-size: 1rem;
        color: $black;
        padding: 0;
        cursor: pointer;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
        &:focus{
            color: $white;
            background: $black;
            outline: 3px solid $black;
        }
    }
}

.ct-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}