.ct-sidebar{
    padding: 25px;
    background-color: $yellow;

    &__main-menu{
        list-style: none;
        padding-left: 0;
    }

    a{
        display: inline-block;
        font-size: 1.1rem;
        text-decoration: none;
        margin-bottom: 10px;

        @media screen and (min-width: 700px){
            font-size: 1.4rem;
            margin-bottom: 15px;
        }

        &:hover{
            text-decoration: underline;
        }
    }
}